{{ 'customer.css' | asset_url | stylesheet_tag }}
<script src="{{ 'input.js' | asset_url }}" defer="defer"></script>

<div class="login_section color-{{ section.settings.color_scheme_customer }}  header-color-{{ section.settings.header_color_scheme }}">
	<div class="login__bg">
		{%- if section.settings.image != blank -%}
			{%- capture sizes -%}
		(min-width: 1800px)
		{{ 1800 | minus: 100 | divided_by: 2 }}px,
		(min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) /
		2)
	{%- endcapture -%}
			{{
				section.settings.image
				| image_url: width: 1840
				| image_tag:
					loading: 'lazy',
					sizes: sizes,
					widths: '233, 560, 720, 1440, 1840'
			}}
		{%- else -%}
			{{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
		{%- endif -%}
	</div>
	<div class="customer login register fullscreen-container">
		<div class="login__reset">
			<div class="page-header" id="recover">
				<div class="page-header__inner">
					<h2 class="main-page-title page-title title--page" tabindex="-1">
						{{ 'customer.recover_password.title' | t }}
					</h2>
				</div>
			</div>
			<div>
				<p>
					{{ 'customer.recover_password.subtext' | t }}
				</p>

				{%- form 'recover_customer_password' -%}
					{% assign recover_success = form.posted_successfully? %}
					<div class="field field--dark">
						<input
							type="email"
							value=""
							name="email"
							id="RecoverEmail"
							autocorrect="off"
							autocapitalize="off"
							autocomplete="email"
							{% if form.errors %}
								aria-invalid="true"
								aria-describedby="RecoverEmail-email-error"
								autofocus
							{% endif %}
							placeholder="{{ 'customer.login_page.email' | t }}"
						>
						<label
							for="RecoverEmail"
							placeholder="{{ 'customer.login_page.email' | t }}"
						></label>
					</div>

					<div class="customer__buttons login__buttons">
						<button class="button button--primary button--arrow login__sign-in">
							<span>{{ 'customer.login_page.submit' | t }}</span>
						</button>

						<a class="button button--tertiary login__create-acc" href="#login">
							<span>{{ 'customer.login_page.cancel' | t }}</span>
						</a>
					</div>
				{%- endform -%}
			</div>
		</div>

		<div class="login__form">
			<div class="page-header">
				<div class="page-header__inner">
					{% if settings.show_breadcrumbs %}
						<nav
							class="breadcrumb"
							role="navigation"
							aria-label="breadcrumbs"
						>
							<a
								href="{{ routes.root_url }}"
								title="{{ 'general.breadcrumbs.home' | t }}"
								class="link-hover-line"
							>
								{{ 'general.breadcrumbs.home' | t }}
							</a>
							<div class="breadcrumb__delimiter"></div>
							<span>{{ 'customer.register.breadcrumb' | t }}</span>
						</nav>
					{% endif %}

					<h2 class="title--page">{{ 'customer.register.title' | t }}</h2>

					{%- if section.settings.subtitle != blank -%}
						<div class="login__subtitle">
							{{ section.settings.subtitle }}
						</div>
					{%- endif -%}
				</div>
			</div>
			{%- form 'create_customer', novalidate: 'novalidate' -%}
				<div class="field__wrapper">
					<div class="field field--dark">
						<input
							type="text"
							name="customer[first_name]"
							id="RegisterForm-FirstName"
							{% if form.first_name %}
								value="{{ form.first_name }}"
							{% endif %}
							autocomplete="given-name"
							placeholder="{{ 'customer.register.first_name' | t }}"
						>
						<label
							for="RegisterForm-FirstName"
							placeholder="{{ 'customer.register.first_name' | t }}"
						></label>
					</div>
					<div class="field field--dark">
						<input
							type="text"
							name="customer[last_name]"
							id="RegisterForm-LastName"
							{% if form.last_name %}
								value="{{ form.last_name }}"
							{% endif %}
							autocomplete="family-name"
							aria-required="true"
							placeholder="{{ 'customer.register.last_name' | t }}"
						>
						<label
							for="RegisterForm-LastName"
							placeholder="{{ 'customer.register.last_name' | t }}"
						></label>
					</div>
					{%- if form.errors contains 'last_name' -%}
						<span id="RegisterForm-email-error" class="form__message">
							{{ form.errors.translated_fields.last_name | capitalize }}
							{{ form.errors.messages.last_name }}.
						</span>
					{%- endif -%}
				</div>
				<div class="field field--dark">
					<input
						type="email"
						name="customer[email]"
						id="RegisterForm-email"
						{% if form.email %}
							value="{{ form.email }}"
						{% endif %}
						spellcheck="false"
						autocapitalize="off"
						autocomplete="email"
						aria-required="true"
						{% if form.errors contains 'email' %}
							aria-invalid="true"
							aria-describedby="RegisterForm-email-error"
						{% endif %}
						placeholder="{{ 'customer.register.email' | t }}"
						required
					>
					<label
						for="RegisterForm-email"
						placeholder="{{ 'customer.register.email' | t }}"
					></label>
				</div>
				{%- if form.errors contains 'email' -%}
					<span id="RegisterForm-email-error" class="form__message">
						{{ form.errors.translated_fields.email | capitalize }}
						{{ form.errors.messages.email }}.
					</span>
				{%- endif -%}
				<div class="field field--dark">
					<input
						type="password"
						name="customer[password]"
						id="RegisterForm-password"
						aria-required="true"
						{% if form.errors contains 'password' %}
							aria-invalid="true"
							aria-describedby="RegisterForm-password-error"
						{% endif %}
						placeholder="{{ 'customer.register.password' | t }}"
						required
					>
					<label
						for="RegisterForm-password"
						placeholder="{{ 'customer.register.password' | t }}"
					></label>
				</div>
				{%- if form.errors contains 'password' -%}
					<span id="RegisterForm-password-error" class="form__message">
						{{ form.errors.translated_fields.password | capitalize }}
						{{ form.errors.messages.password }}.
					</span>
				{%- endif -%}

				{%- if form.errors contains 'form' -%}
					<span id="RegisterForm-email-error" class="form__message">
						{{ 'customer.login_page.customer_exist' | t }}
					</span>
				{%- endif -%}

				<div class="customer__buttons center">
					<button class="button button--primary button--arrow">
						<span>{{ 'customer.register.submit' | t }}</span>
					</button>
				</div>
				<div class="login__have_account">
					<span> {{ 'customer.login_page.have_account' | t }}</span>

					<a
						class="uppercase  button--with-underline	"
						href="{{ routes.account_login_url }}"
					>
						<span>{{ 'customer.login_page.title' | t }}</span>
					</a>
				</div>
			{%- endform -%}
		</div>
	</div>
</div>

{% javascript %}
	const events = [
		'shopify:section:reorder',
		'shopify:section:deselect',
		'shopify:section:select',
		'shopify:section:unload',
		'shopify:section:load',
	];

	const account_header_overlay = () => {
		let headerOverlay = document.querySelector('.overlay');
		let colorScheme = document.querySelector('.header-color-light');

		if (headerOverlay) {
			if (colorScheme) {
				headerOverlay.classList.add('theme-dark');
				headerOverlay.classList.add('header-color-background-5');
			} else {
				headerOverlay.classList.remove('theme-dark');
				headerOverlay.classList.remove('header-color-background-5');
				headerOverlay.classList.add('color-background-1');
			}
		}
	};

	account_header_overlay();

	events.forEach(function (item) {
		document.addEventListener(item, function () {
			account_header_overlay();
		});
	});
{% endjavascript %}

{% schema %}
{
	"name": "t:sections.main-register.name",
	"tag": "section",
	"settings": [
		{
			"type": "select",
			"id": "header_color_scheme",
			"options": [
				{
					"value": "light",
					"label": "t:sections.all.color_scheme.light.label"
				},
				{
					"value": "dark",
					"label": "t:sections.all.color_scheme.dark.label"
				}
			],
			"default": "dark",
			"label": "t:sections.all.header_color_scheme.label",
			"info": "t:sections.all.header_color_scheme.info"
		},
		{
			"type": "select",
			"id": "color_scheme_customer",
			"options": [
				{
					"value": "background-1",
					"label": "t:sections.all.color_scheme.options__1.label"
				},
				{
					"value": "background-2",
					"label": "t:sections.all.color_scheme.options__2.label"
				},
				{
					"value": "background-3",
					"label": "t:sections.all.color_scheme.options__3.label"
				},
				{
					"value": "background-4",
					"label": "t:sections.all.color_scheme.options__4.label"
				},
				{
					"value": "background-5",
					"label": "t:sections.all.color_scheme.options__5.label"
				},
				{
					"value": "inverse",
					"label": "t:sections.all.color_scheme.options__6.label"
				}
			],
			"default": "background-1",
			"label": "t:sections.image_with_text.settings.color_scheme.label"
		},
		{
			"type": "textarea",
			"id": "subtitle",
			"default": "Some text for section",
			"label": "t:sections.main-register.settings.text.label"
		},
		{
			"type": "image_picker",
			"id": "image",
			"label": "t:sections.main-register.blocks.settings.image.label"
		}
	]
}
{% endschema %}
