{% comment %}theme-check-disable TemplateLength{% endcomment %}
{{ 'section-main-product.css' | asset_url | stylesheet_tag }}
{{ 'component-accordion.css' | asset_url | stylesheet_tag }}
{{ 'component-badge.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-rte.css' | asset_url | stylesheet_tag }}
{{ 'component-slider.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}

<link rel="stylesheet" href="{{ 'component-cart-drawer.css' | asset_url }}" media="all">
<link rel="stylesheet" href="{{ 'component-deferred-media.css' | asset_url }}" media="all">

<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'copy.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'product-single.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'update-slider.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'about.js' | asset_url }}" defer="defer"></script>

{%- assign first_3d_model = product.media | where: "media_type", "model" | first -%}
{%- if first_3d_model -%}
	{{ 'component-product-model.css' | asset_url | stylesheet_tag }}
	<link id="ModelViewerStyle" rel="stylesheet" href="https://cdn.shopify.com/shopifycloud/model-viewer-ui/assets/v1.0/model-viewer-ui.css" media="print" onload="this.media='all'">
	<link id="ModelViewerOverride" rel="stylesheet" href="{{ 'component-model-viewer-ui.css' | asset_url }}" media="print" onload="this.media='all'">
{%- endif -%}

<section class="main-product-page" id="MainProduct-{{ section.id }}" data-section="{{ section.id }}">
	<div class="product fullscreen-container {% if product.media.size > 0 %}row{% else %}product--no-media{% endif %}">
		<div class="product__outer
			{% if section.settings.desktop_alignment == 'right' %}product__outer--desktop-order{% endif %}
			{% if section.settings.mobile_alignment == 'after' %}product__outer--mobile-order{% endif %}"
		>
			<div class="product__info-wrapper">
	
				<div class="product__title__wrapper
					{%- if product.available == false %} price--sold-out {% endif -%}
					{%- if product.compare_at_price > product.price %} price--on-sale {% endif -%}"> 
					<h4 class="product__title" {{ block.shopify_attributes }}>
						{{ product.title | escape }}
					</h4>
					{%- if section.settings.show_share_facebook or  section.settings.show_share_twitter or section.settings.show_share_pinterest or section.settings.show_share_copy -%}
					<div class="share-buttons" aria-label="list">
						<div class="share-buttons__label link-hover-line-outer">
							{% render 'icon-share' %} <span class="share-buttons__label-name">{{ 'general.share.share' | t }}</span>
						</div>

						<ul class="share-buttons__list">
							{%- if section.settings.show_share_facebook -%}
								<li class="share-buttons__item">
									<a href="https://www.facebook.com/sharer.php?u={{ shop.url | append: product.url }}" class="share-buttons__button facebook-btn link-hover-line-outer" target="_blank">
										{% render 'icon-facebook' %}
										<span class="share-button__name ">{{ 'general.share.links.facebook' | t }}</span>
									</a>
								</li>
							{%- endif -%}

							{%- if section.settings.show_share_twitter -%}
								<li class="share-buttons__item">
									<a href="https://twitter.com/share?url={{ shop.url | append: product.url }}&text={{ product.title | escape }}" class="share-buttons__button twitter-btn link-hover-line-outer" target="_blank">
										{% render 'icon-twitter' %}
										<span class="share-button__name ">{{ 'general.share.links.twitter' | t }}</span>
									</a>
								</li>
							{%- endif -%}

							{%- if section.settings.show_share_pinterest -%}
								<li class="share-buttons__item">
									<a href="https://pinterest.com/pin/create/bookmarklet/?media={{ product.featured_media | image_url: width: 1100, height: 1100 }}&url={{ shop.url | append: product.url }}&description={{ product.title | escape }}" class="share-buttons__button pinterest-btn link-hover-line-outer" target="_blank">
										{% render 'icon-pinterest' %}
										<span class="share-button__name ">{{ 'general.share.links.pinterest' | t }}</span>
									</a>
								</li>
							{%- endif -%}

							{%- if section.settings.show_share_copy -%}
								<li class="share-buttons__item">
									<a href="{{ shop.url | append: product.url }}" class="share-buttons__button copy-btn link-hover-line-outer">
										{% render 'icon-copy' %}
										<span class="share-button__name">{{ 'general.share.links.copy' | t }}</span>
									</a>
								</li>
							{%- endif -%}
						</ul>
					</div>
				{%- endif -%}
			</div>
			

				<div id="ProductInfo-{{ section.id }}" class="product__info-container">
					{%- assign product_form_id = 'product-form-' | append: section.id -%}
					{%- for block in section.blocks -%}
						{%- case block.type -%}

							{%- when '@app' -%}
								{% render block %}

							{%- when 'text' -%}
								<p class="product__text" {{ block.shopify_attributes }}>
									{{- product.vendor -}}
								</p>

							{%- when 'tags' -%}
								{%- if product.tags != blank -%}
									<ul class="product-tags product__tags">
										{% for tag in product.tags %}
											<li class="product-tags__tag">{{ tag }} {% render 'icon-checkmark' %}</li>
										{% endfor %}
									</ul>
								{%- endif -%}

								{%- when 'inventory_status' -%}
									<div class="inventory__title">
										<span id="Inventory-{{ section.id }}">
											<span class="advantage__title">
										
												{% if product.selected_or_first_available_variant.inventory_quantity >= 10 %}											
													<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path d="M16 7L6.99372 16.7233C6.65201 17.0922 6.09799 17.0922 5.75628 16.7233L2 12.668M11.9941 16.7233L21.0004 7" stroke="currentColor" stroke-width="1.3" stroke-linecap="round"/>
													</svg>										
													<span>{{ 'products.product.quantity.in_stock' | t: quantity: product.selected_or_first_available_variant.inventory_quantity }}</span>	
												{% elsif product.selected_or_first_available_variant.inventory_quantity < 10 and product.selected_or_first_available_variant.inventory_quantity > 0 %}
										
																<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
																	<path d="M9 20H15" stroke="currentColor" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
																	<path d="M6.26945 9.85C6.26945 8.29848 6.87312 6.81051 7.94766 5.71343C9.02219 4.61634 10.4796 4 11.9992 4C13.5188 4 14.9762 4.61634 16.0508 5.71343C17.1253 6.81051 17.729 8.29848 17.729 9.85C17.729 12.7604 18.3895 15.0987 18.9147 16.025C18.9705 16.1236 18.9999 16.2355 19 16.3494C19.0001 16.4633 18.9709 16.5753 18.9153 16.674C18.8597 16.7728 18.7796 16.8548 18.6831 16.9121C18.5867 16.9693 18.4772 16.9996 18.3656 17H5.63281C5.52138 16.9993 5.41208 16.9688 5.31583 16.9115C5.21958 16.8541 5.13976 16.772 5.08434 16.6733C5.02891 16.5746 4.99983 16.4628 5 16.349C5.00017 16.2353 5.02958 16.1235 5.0853 16.025C5.60973 15.0987 6.26945 12.7596 6.26945 9.85Z" stroke="currentColor" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
															</svg>
											
														<span>	{{ 'products.product.quantity.in_stock' | t: quantity: product.selected_or_first_available_variant.inventory_quantity }}</span>
												{% elsif product.selected_or_first_available_variant.inventory_quantity <= 0 %}
													<span>	{{ 'products.product.quantity.out_of_stock' | t }}</span>
												{% endif %}
											</span>
										</span>
									</div>
								
								{%- when 'product-description' -%}

									<div class="about about-product-description">
										<div class="about__outer">
											<div class="about__right">
												<div class="about__wrapper no-js-hidden">
													{%- if product.description -%}
														<div class="about__accordion-item {% if block.settings.default_open %} active{% endif %}" {{ block.shopify_attributes }}>
															<h2 class="about__accordion-title">
																<span>	{{- 'about.description' | t -}}</span>
																<div class="about__more-link-wrapper">
																	<div class="about__more-link">
																		{% render 'icon-button-arrow' %}
																	</div>
																</div>
															</h2>
															<div class="about__accordion-description"  
															{% if block.settings.default_open %}
																style="display: block;"
															{% else %}
																style="display: none"
															{% endif %}>
																{{ product.description }}
															</div>
														</div>
													{%- endif -%}
												</div>
											</div>
										</div>
								</div>

								{%- when 'about' -%}
									<div class="about">
										<div class="about__outer">
											<div class="about__right">
												<div class="about__wrapper no-js-hidden">
													{%- if block.settings.about_heading != blank -%}
														<div class="about__accordion-item {% if block.settings.default_open %} active{% endif %}" {{ block.shopify_attributes }}>
															<h2 class="about__accordion-title">
																<span>{{ block.settings.about_heading }}</span>
																<div class="about__more-link-wrapper">
																	<div class="about__more-link">
																		{% render 'icon-button-arrow' %}
																	</div>
																</div>
															</h2>
															<div class="about__accordion-description" 
															{% if block.settings.default_open %}
																style="display: block;"
															{% else %}
																style="display: none"
															{% endif %}>
																{{ block.settings.about_heading_content }}
															</div>
														</div>
													{%- endif -%}
												</div>
											</div>
										</div>
								</div>
								

								{%- when 'perfect-fit' -%}
								<div class="perfect">
									<div class="about__outer">
										<div class="about__right">
											<div class="about__wrapper">
												{%- if product != blank -%}
														<div class="perfect-fit-description">
															<div class="about__accordion-description-image">
																<product-recommendations class="product-recommendations product-recommendations--single" data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}&limit={{ block.settings.product_list_limit }}&intent=complementary">
																	{% if recommendations.performed and recommendations.products_count > 0 %}
																	<h2 class="about__wrapper__perfect-fit-title">
																		<span>{{ block.settings.about_heading }}</span>
																	</h2>
																	<div class="perfect-fit-description-item">{{ block.settings.about_heading_content }}</div>
																		{% for recommendation in recommendations.products limit: 3 %}
																		<div class="card-wrapper" {% if block.settings.show_link_slider %} onpointerenter="showTextMainProduct()" onpointerleave="hideTextMainProduct()" {% endif %}>
																				{%- liquid
																					assign featured_media_aspect_ratio = recommendation.featured_media.aspect_ratio
								
																					if recommendation.featured_media.aspect_ratio == nil
																					endif -%}
								
																				{%- if recommendation.media[1] != nil and section.settings.show_secondary_image -%}
																					{% assign image_height = recommendation.media[1].width
																								| divided_by: recommendation.media[1].aspect_ratio
																							%}

																							{{
																								recommendation.media[1]
																								| image_url: width: 1946
																								| image_tag:
																									loading: 'lazy',
																									width: recommendation.media[1].width,
																									height: image_height,
																									sizes: '(min-width: 270px) 50vw, 100vw',
																									widths: '246, 493, 600, 713, 823, 990, 1100, 1206, 1346, 1426, 1646, 1946',
																									class: "card-wrapper__image motion-reduce"
																							}}
																				{%- endif -%}
																				<span class="visually-hidden">{{ recommendation.title | escape }}</span>
																				<div class="card card--product" tabindex="-1">
																					{%- if recommendation.featured_media -%}
																						{% assign image_height = recommendation.featured_media.width
																							| divided_by: recommendation.featured_media.aspect_ratio
																						%}
									
																						{{
																							recommendation.featured_media
																							| image_url: width: 1946
																							| image_tag:
																								loading: 'lazy',
																								width: recommendation.featured_media.width,
																								height: image_height,
																								sizes: '(min-width: 270px) 50vw, 100vw',
																								widths: '246, 493, 600, 713, 823, 990, 1100, 1206, 1346, 1426, 1646, 1946',
																								class: "motion-reduce"
																						}}
																					{%- elsif recommendation.featured_media == blank -%}
																						{{ 'product-3' | placeholder_svg_tag: 'placeholder-svg' }}
																					{%- endif -%}
																				</div>
																				<a href="{{ recommendation.url | default: '#' }}" class="link link--overlay card-wrapper__link--overlay" aria-label="link"></a>
																				{% if block.settings.show_link_slider %}
																				<div class="button--with-underline--container"
																						sectionId="{{ section.id }}"
																						{{ block.shopify_attributes }}
																					>
																						<a
																							href="{{ product.url | default: '#' }}"
																							class="button--with-underline"
																							aria-label="{{ "accessibility.product_link" | t }}"
																						>
																							{{- 'accessibility.product_link' | t -}}
																						</a>
																				</div>
																				{% endif %}
																			</div>
																		{% endfor %}
																	{% endif %}
																</product-recommendations>
															</div>
														
															<div
																class="button--with-underline--container"
																sectionId="{{ section.id }}"
																{{ block.shopify_attributes }}
															>
																<a
																	href="{{ product.url | default: '#' }}"
																	class="button--with-underline"
																	aria-label="{{ "accessibility.product_link" | t }}"
																>
																	{{- 'accessibility.product_link' | t -}}
																</a>
														</div>
														</div>
													{%- endif -%}
											</div>
										</div>
									</div>
							</div>
							{%- when 'price' -%}
								<div class="no-js-hidden price-wrapper" id="price-{{ section.id }}" {{ block.shopify_attributes }}>
									{%- render 'price', product: product, use_variant: true, show_badges: true, price_class: 'price--product' -%}
		
									{%- if cart.taxes_included or shop.shipping_policy.body != blank -%}
										<div class="product__tax caption rte">
											{%- if cart.taxes_included -%}
												{{ 'products.product.include_taxes' | t }}
											{%- endif -%}
											{%- if shop.shipping_policy.body != blank -%}
												{{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
											{%- endif -%}
										</div>
									{%- endif -%}
								</div>
								<div {{ block.shopify_attributes }} style="margin: 0">
									{%- form 'product', product, id: 'product-form-installment', class: 'installment caption-large' -%}
										<input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
										{{ form | payment_terms }}
									{%- endform -%}
								</div>
								<div class="card__description">
									{{ product.description | strip_html | truncate: 120 }}
								</div>

							{%- when 'variant_picker' -%}
								{% render 'product-variant-picker', block: block, product: product %}
							{%- when 'buy_buttons' -%}
								<div {{ block.shopify_attributes }}>
									{%- liquid
										assign gift_card_recipient_feature_active = false
										if block.settings.show_gift_card_recipient and product.gift_card?
											assign gift_card_recipient_feature_active = true
										endif

										assign show_dynamic_checkout = false
										if block.settings.show_dynamic_checkout and gift_card_recipient_feature_active == false
											assign show_dynamic_checkout = true
										endif
									-%}

									<product-form class="product-form" data-hide-errors="{{ gift_card_recipient_feature_active }}">
										<div class="product-form__error-message-wrapper" role="alert" hidden>
											<svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-error" viewBox="0 0 13 13">
												<circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
												<circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
												<path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
												<path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
											</svg>
											<span class="product-form__error-message"></span>
										</div>
										{%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
											<input
												type="hidden"
												name="id"
												value="{{ product.selected_or_first_available_variant.id }}"
												{% if product.selected_or_first_available_variant.available == false %}
													disabled
												{% endif %}
											>

											{%- if gift_card_recipient_feature_active -%}
												{%- render 'gift-card-recipient-form', product: product, form: form, section: section -%}
											{%- endif -%}

											<div class="product-form__buttons">
												<div class="product-form__quantity__add__buttons">
													{% if product.has_only_default_variant == true and product.selected_or_first_available_variant.available == true %}
														<div class="product-parameters__item product-parameters__quantity">
															<div class="product-form__input product-form__quantity" {{ block.shopify_attributes }}>
																<quantity-input class="quantity">
																	<button class="quantity__button quantity__button-minus no-js-hidden" name="minus" type="button">
																		<span class="visually-hidden">{{ 'products.product.quantity.decrease' | t: product: product.title | escape }}</span>
																		{% render 'icon-minus' %}
																	</button>
																	<input class="quantity__input"
																				type="number"
																				name="quantity"
																				id="Quantity-{{ section.id }}"
																				min="1"
																				value="1"
																				form="{{ product_form_id }}"
																				aria-label="quantity"
																	>
																	<button class="quantity__button quantity__button-plus no-js-hidden" name="plus" type="button">
																		<span class="visually-hidden">{{ 'products.product.quantity.increase' | t: product: product.title | escape }}</span>
																		{% render 'icon-plus' %}
																	</button>
																</quantity-input>
															</div>
														</div>
													{% else %}
													<div class="product-parameters__item product-parameters__quantity">
														<div class="product-form__input product-form__quantity" {{ block.shopify_attributes }}>
															<quantity-input class="quantity">
																<button class="quantity__button quantity__button-minus no-js-hidden" name="minus" type="button">
																	<span class="visually-hidden">{{ 'products.product.quantity.decrease' | t: product: product.title | escape }}</span>
																	{% render 'icon-minus' %}
																</button>
																<input class="quantity__input"
																			type="number"
																			name="quantity"
																			id="Quantity-{{ section.id }}"
																			min="1"
																			value="1"
																			form="{{ product_form_id }}"
																			aria-label="quantity"
																>
																<button class="quantity__button quantity__button-plus no-js-hidden" name="plus" type="button">
																	<span class="visually-hidden">{{ 'products.product.quantity.increase' | t: product: product.title | escape }}</span>
																	{% render 'icon-plus' %}
																</button>
															</quantity-input>
														</div>
													</div>
												{% endif %}
												<button
													id = "ProductSubmitButton-{{ section.id }}"
													type="submit"
													name="add"
													class="product-form__submit button {% if block.settings.show_dynamic_checkout and product.selling_plan_groups == empty %}button--tertiary{% else %}button--primary{% endif %}"
													{% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}
												>
											
													<span>
                          {%- if product.selected_or_first_available_variant.available -%}
                            {{ 'products.product.add_to_cart' | t }}
                          {%- else -%}
                            {{ 'products.product.sold_out' | t }}
                          {%- endif -%}
                        </span>
												{%- render 'icon-loading' -%}
												
												</button>
												
												</div>
												<div class="product-form__checkout">
													{%- if block.settings.show_dynamic_checkout -%}
														{{ form | payment_button }}
													{%- endif -%}
												</div>
												<a
														href="{{ product.url | default: '#' }}"
														class="button--with-underline"
														aria-label="{{ "accessibility.product_link" | t }}"
													>
														{{- 'accessibility.product_link' | t -}}
												</a>
											</div>
										{%- endform -%}
										
									</product-form>
								</div>

							{%- when 'pickup_availability' -%}
								<div {{ block.shopify_attributes }}>
									{{ 'component-pickup-availability.css' | asset_url | stylesheet_tag }}

									{%- assign pick_up_availabilities = product.selected_or_first_available_variant.store_availabilities | where: 'pick_up_enabled', true -%}

									<pickup-availability class="product__pickup-availabilities no-js-hidden"
										{% if product.selected_or_first_available_variant.available and pick_up_availabilities.size > 0 %} available {% endif %}
											data-base-url="{{ shop.url }}{{ routes.root_url }}"
											data-variant-id="{{ product.selected_or_first_available_variant.id }}"
											data-has-only-default-variant="{{ product.has_only_default_variant }}"
									>
										<template>
											<pickup-availability-preview class="pickup-availability-preview">
												{% render 'icon-unavailable' %}
												<div class="pickup-availability-info">
													<p class="caption-large">{{ 'products.product.pickup_availability.unavailable' | t }}</p>
													<button class="pickup-availability-button link link--text underlined-link">{{ 'products.product.pickup_availability.refresh' | t }}</button>
												</div>
											</pickup-availability-preview>
										</template>
									</pickup-availability>
									<script src="{{ 'pickup-availability.js' | asset_url }}" defer="defer"></script>
								</div>

							{%- when 'popup' -%}
								<div class="product__popup">
									<modal-opener
										class="no-js-hidden"
										data-modal="#PopupModal-{{ block.id }}"
										{{ block.shopify_attributes }}
									>
										<button
											id="ProductPopup-{{ block.id }}"
											class="popup__link popup__link--info"
											type="button"
											aria-haspopup="dialog"
										>
											<span>{{ block.settings.label }}</span>
										</button>
									</modal-opener>
									<div class="product-popup-modal__content-info no-js">
										<h2 class="product-popup-modal__title">
											{{ block.settings.heading }}
										</h2>
										<div class="product-popup-modal__text">
											{{ block.settings.text }}
										</div>
										{%- if block.settings.page.content != blank -%}
											{{ block.settings.page.content }}
										{%- endif -%}
									</div>
									<modal-dialog id="PopupModal-{{ block.id }}" class="product-popup-modal" {{ block.shopify_attributes }}>
										<div
											role="dialog"
											aria-label="{{ block.settings.label }}"
											aria-modal="true"
											class="product-popup-modal__content"
											tabindex="-1"
										>
											<button
												id="ModalClose-{{ block.id }}"
												type="button"
												class="product-popup-modal__toggle modal-close-button"
												aria-label="{{ 'accessibility.close' | t }}"
											>
												{% render 'icon-close' %}
											</button>
											<div class="product-popup-modal__content-info">
												<h2 class="product-popup-modal__title">
													{{ block.settings.heading }}
												</h2>
												<div class="product-popup-modal__text">
													{{ block.settings.text }}
												</div>
												{%- if block.settings.page.content != blank -%}
													{{ block.settings.page.content }}
												{%- endif -%}
											</div>
										</div>
									</modal-dialog>
								</div>

							{%- when 'sku' -%}
								<p
									class="product__sku no-js-hidden {% if product.selected_or_first_available_variant.sku.size == 0 %} visibility-hidden{% endif %}"
									id="Sku-{{ section.id }}"
									role="status"
									{{ block.shopify_attributes }}
								>
									<span class="visually-hidden">{{ 'products.product.sku' | t }}:</span> {{- product.selected_or_first_available_variant.sku -}}
								</p>

							{%- when 'custom_liquid' -%}
								<div class="custom-liquid">
									{{ block.settings.custom_liquid }}
								</div>
						{%- endcase -%}
					{%- endfor -%}
				</div>
			</div>
			<div class="product__media-wrapper 	{% if section.settings.image_gallery_collage == "thumbnail_carousel" %} thumbnail_carousel {% endif %}	 {% if section.settings.image_gallery_collage == "thumbnail" %}-great{% endif %}{% if section.settings.image_gallery_collage == "stacked" %}-lar{% endif %} ">
				{% if product.media.size > 0 %}
				{% if section.settings.image_gallery_collage == "thumbnail_carousel" %}	
				<div class="product__media-list-wrapper">
					<div class="product__media-sublist js-media-sublist no-js-hidden swiper">
						<div class="swiper-wrapper">
							{%- if product.selected_or_first_available_variant.featured_media != null -%}
								{%- assign featured_media = product.selected_or_first_available_variant.featured_media -%}
								<div class="product__media-subitem swiper-slide {% if section.settings.image_fit == 'contain' %} product__media-item--contain{% endif %}"
									data-media-sub-id="{{ section.id }}-{{ featured_media.id }}"
								>
								<div class="product__media">
								{% assign image_height = featured_media.preview_image.width
										| divided_by: featured_media.preview_image.aspect_ratio
									%}

									{{
										featured_media.preview_image
										| image_url: width: 1946
										| image_tag:
											loading: 'lazy',
											width: featured_media.preview_image.width,
											height: image_height,
											sizes: '(min-width: 270px) 50vw, 100vw',
											widths: '246, 493, 600, 713, 823, 990, 1100, 1206, 1346, 1426, 1646, 1946'
									}}
								</div>
							</div>
							{%- endif -%}

							{%- for media in product.media -%}
							{%- unless media.id == product.selected_or_first_available_variant.featured_media.id -%}
								<div class="product__media-subitem swiper-slide {% if variant_images contains media.src %} product__media-item--variant{% endif %} {% if section.settings.image_fit == 'contain' %} product__media-item--contain{% endif %}"
										data-media-sub-id="{{ section.id }}-{{ media.id }}"
								>
									<div class="product__media">
									{% assign image_height = media.preview_image.width
											| divided_by: media.preview_image.aspect_ratio
										%}

										{{
											media.preview_image
											| image_url: width: 246
											| image_tag:
												loading: 'lazy',
												width: media.preview_image.width,
												height: image_height,
												widths: '150,246'
										}}
									</div>
								</div>
							{%- endunless -%}
						{%- endfor -%}
						</div>
					</div>
					<ul class="product__media-sublist no-js">
						{%- if product.selected_or_first_available_variant.featured_media != null -%}
							{%- assign featured_media = product.selected_or_first_available_variant.featured_media -%}
							<li class="product__media-subitem slider__slide {% if section.settings.image_fit == 'contain' %} product__media-item--contain{% endif %}"
									data-media-sub-id="{{ section.id }}-{{ featured_media.id }}"
							>
								<div class="product__media">
									{% assign image_height = featured_media.preview_image.width
										| divided_by: featured_media.preview_image.aspect_ratio
									%}

									{{
										featured_media.preview_image
										| image_url: width: 246
										| image_tag:
											loading: 'lazy',
											width: featured_media.preview_image.width,
											height: image_height,
											widths: '150, 246,' 
									}}
								</div>
							</li>
						{%- endif -%}
						{%- for media in product.media -%}
							{%- unless media.id == product.selected_or_first_available_variant.featured_media.id -%}
								<li class="product__media-subitem slider__slide {% if variant_images contains media.src %} product__media-item--variant{% endif %} {% if section.settings.image_fit == 'contain' %} product__media-item--contain{% endif %}"
										data-media-sub-id="{{ section.id }}-{{ media.id }}"
								>
									<div class="product__media">
										{% assign image_height = media.preview_image.width
											| divided_by: media.preview_image.aspect_ratio
										%}

										{{
											media.preview_image
											| image_url: width: 246
											| image_tag:
												loading: 'lazy',
												width: media.preview_image.width,
												height: image_height,
												widths: '150,246'
										}}
									</div>
								</li>
							{%- endunless -%}
						{%- endfor -%}
					</ul>
					<div class="product__media-list js-media-list no-js-hidden swiper product__media-list--{% if section.settings.media_border %}border{% endif %}">
						<div class="swiper-wrapper">
							{%- liquid
								assign variant_images = product.images | where: 'attached_to_variant?', true | map: 'src'
								assign media_count = product.media.size -%}

							{%- if product.selected_or_first_available_variant.featured_media != null -%}
								{%- assign featured_media = product.selected_or_first_available_variant.featured_media -%}
								<div class="product__media-item swiper-slide {% if section.settings.image_fit == 'contain' %} product__media-item--contain{% endif %}" data-media-id="{{ section.id }}-{{ featured_media.id }}">
									{% render 'product-thumbnail', product_card_product: product, media: featured_media, position: 'featured', modal_id: section.id, lazy_load: false %}
								</div>
							{%- endif -%}

							{%- for media in product.media -%}
								{%- unless media.id == product.selected_or_first_available_variant.featured_media.id -%}
									<div class="product__media-item swiper-slide{% if media.media_type != 'image' %} product__media-item--full{% endif %} {% if variant_images contains media.src %} product__media-item--variant{% endif %} {% if section.settings.image_fit == 'contain' %} product__media-item--contain{% endif %}"
											 data-media-id="{{ section.id }}-{{ media.id }}"
									>
										{% render 'product-thumbnail', media: media, position: forloop.index, modal_id: section.id, lazy_load: false %}
									</div>
								{%- endunless -%}
							{%- endfor -%}
							
						</div>
							{% if product.media.size > 1 %}
							<div class="swiper-btn swiper-btn--prev">
								{% render 'swiper-icon-prev' %}
							</div>
							<div class="swiper-btn swiper-btn--next">
								{% render 'swiper-icon-next' %}
							</div>
							{% endif %}
					</div>
				</div>
				{%else%}
				<div class="product__media-list__container{% if section.settings.image_gallery_collage == "thumbnail" %}--great-five {% if product.media.size == 2 %}
					
				height-vh{% endif %}  {% endif %}{% if section.settings.image_gallery_collage == "stacked" %}--large{% endif %} ">
					{%- liquid
						assign variant_images = product.images | where: 'attached_to_variant?', true | map: 'src'
-%}

					{%- if product.selected_or_first_available_variant.featured_media != null -%}
						{%- assign featured_media = product.selected_or_first_available_variant.featured_media -%}
						<div class="product__media-item {% if section.settings.image_fit == 'contain' %} product__media-item--contain{% endif %}" data-media-id="{{ section.id }}-{{ featured_media.id }}">
							{% render 'product-thumbnail', product_card_product: product, media: featured_media, position: 'featured', modal_id: section.id, lazy_load: false %}
						</div>
					{%- endif -%}

					{%- for media in product.media -%}
						{%- unless media.id == product.selected_or_first_available_variant.featured_media.id -%}
							<div class="product__media-item {% if media.media_type != 'image' %} product__media-item--full{% endif %} {% if variant_images contains media.src %} product__media-item--variant{% endif %} {% if section.settings.image_fit == 'contain' %} product__media-item--contain{% endif %}"
									data-media-id="{{ section.id }}-{{ media.id }}"
							>
								{% render 'product-thumbnail', media: media, position: forloop.index, modal_id: section.id, lazy_load: false %}
								{%- if first_3d_model -%}
								<button
									class="button button--full-width product__xr-button"
									type="button"
									aria-label="{{ 'products.product.xr_button_label' | t }}"
									data-shopify-xr
									data-shopify-model3d-id="{{ first_3d_model.id }}"
									data-shopify-title="{{ product.title | escape }}"
									data-shopify-xr-hidden
								>
									{% render 'icon-3d-model' %}
									{{ 'products.product.xr_button' | t }}
								</button>
							{% endif %}
							</div>
						{%- endunless -%}
					{%- endfor -%}
				</div>
			
				{%- endif -%}
				{% if settings.show_breadcrumbs %}
					<nav class="breadcrumb breadcrumb__desktop" role="navigation" aria-label="breadcrumbs">
						<a href="{{ routes.root_url }}" title="{{ 'general.breadcrumbs.home' | t }}" class="link-hover-line">{{ 'general.breadcrumbs.home' | t}}</a>
						<div class="breadcrumb__delimiter"></div>
						{% if product.collections[0] %}
							<a href="{{ product.collections[0].url }}" class="link-hover-line">{{ product.collections[0].title }}
							</a>
							<div class="breadcrumb__delimiter"></div>
						{% endif %}
						<span>{{ product.title }}</span>
					</nav>
				{% endif %}

			</div>
		{% endif %}
		</div>
	
	</div>

	{%- for block in section.blocks -%}
		{% if block.type == "modals" %}
			{% if block.settings.modal_label_1 != blank %}
				<div id="ProductModalInfo-{{ section.id }}-1" class="product-info-modal">
					<div class="product-info-modal__scroll">
						<div class="product-info-modal__content">
							<div class="h5 product-info-modal__title">{{ block.settings.modal_heading_1 }}</div>
							<div class="product-info-modal__text">{{ block.settings.modal_text_1 }}</div>
						</div>
					</div>
				</div>
			{% endif %}

			{% if block.settings.modal_label_2 != blank %}
				<div id="ProductModalInfo-{{ section.id }}-2" class="product-info-modal">
					<div class="product-info-modal__scroll">
						<div class="product-info-modal__content">
							<div class="h5 product-info-modal__title">{{ block.settings.modal_heading_2 }}</div>
							<div class="product-info-modal__text">{{ block.settings.modal_text_2 }}</div>
						</div>
					</div>
				</div>
			{% endif %}
		{% endif %}
	{%- endfor -%}

	<product-modal style="min-width: 0;" id="ProductModal-{{ section.id }}" class="product-media-modal">
		<div class="product-media-modal__dialog" role="dialog" aria-label="{{ 'products.modal.label' | t }}" aria-modal="true" tabindex="-1">
			<button id="ModalClose-{{ section.id }}" type="button" class="product-media-modal__toggle modal-close-button" aria-label="{{ 'accessibility.close' | t }}">{% render 'icon-close' %}</button>
			<div  class="product-media-modal__content product-media-modal__content--" role="document" aria-label="{{ 'products.modal.label' | t }}" tabindex="0">
				<div
				class="swiper swiper-container" id="product-page-swiper"
			>
				<div class="swiper-wrapper">
					{% for media in product.media %}
							{% if media.media_type == 'image' %}
								<div class="swiper-slide" data-media-id="{{ media.id }}">
									<div class="swiper-zoom-container">
										{{
											media.preview_image
											| image_url: width: 4096
											| image_tag:
												loading: 'lazy',
												sizes: '100vw',
												widths: '550, 750, 1100, 1445, 1680, 2048, 2890, 4096',
												class: 'motion-reduce',
												width: media.preview_image.width,
												height: media.preview_image.height
										}}
									</div>
								</div>
						{% else %}

						<div class="swiper-slide" data-media-id="{{ media.id }}">
							<div class="swiper-zoom-container swiper-zoom-container-model">
								{% if media.media_type == 'model' %}
									<div class="product-media-modal__model" data-media-id="{{ media.id }}">
									<product-model class="deferred-media media" style="padding-top: min(calc(100vh - 12rem), 100%)">
								{% else %}
									<deferred-media class="deferred-media media" style="padding-top: min(calc(100vh - 12rem), {{ 1 | divided_by: media.aspect_ratio | times: 100 }}%)" data-media-id="{{ media.id }}">
								{% endif %}
		
								<button id="Deferred-Poster-Modal-{{ media.id }}" class="deferred-media__poster" type="button">
									<span class="deferred-media__poster-button motion-reduce">
										{% if media.media_type == 'model' %}
											{% render 'icon-3d-model' %}
										{% else %}
											{% render 'icon-play' %}
										{% endif %}
									</span>
									{% assign image_height = media.preview_image.width
										| divided_by: media.preview_image.aspect_ratio
									%}
									{{
										media.preview_image
										| image_url: width: 4096
										| image_tag:
											loading: 'lazy',
											width: media.preview_image.width,
											height: image_height,
											sizes: '100vw',
											widths: '550, 750, 1100, 1445, 1680, 2048, 2890, 4096'
									}}
								</button>
								<template>
									
									{% case media.media_type %}
									<h1>{{ media.media_type }}</h1>
									<h3>{{ media.host }}</h3>
						
						
										{% when 'external_video' %}
											{%- assign video_class = 'js-' | append: media.host -%}
											{%- if media.host == 'youtube' -%}
												{{ media | external_video_url: autoplay: true, loop: loop, playlist: media.external_id | external_video_tag: class: video_class, loading: "lazy" }}
											{%- else -%}
												{{ media | external_video_url: autoplay: true, loop: loop | external_video_tag: class: video_class, loading: "lazy" }}
											{%- endif -%}
										{%- when 'video' -%}
											{{ media | media_tag: image_size: "2048x", autoplay: true, loop: loop, controls: true, preload: "none" }}
										{% when 'model' %}
											{{ media | media_tag: image_size: "2048x", toggleable: true }}
									{% endcase %}
								</template>
		
								{% if media.media_type == 'model' %}
									</product-model>
									<button
										class="button button--full-width product__xr-button"
										type="button"
										aria-label="{{ 'products.product.xr_button_label' | t }}"
										data-shopify-xr
										data-shopify-model3d-id="{{ media.id }}"
										data-shopify-title="title"
										data-shopify-xr-hidden
									>
										{% render 'icon-3d-model' %}
										{{ 'products.product.xr_button' | t }}
									</button>
									</div>
										{% else %}
									</deferred-media>
								{% endif %}
							</div>
						</div>
					{% endif %}
					{% endfor %}
				</div>
			</div>
			</div>
			<div class="swiper-button-next swiper-button-next-prod-page"> {% render 'icon-caret-right' %}</div>
			<div class="swiper-button-prev swiper-button-prev-prod-page"> {% render 'icon-caret-left' %}</div>
			<div
							class="swiper-pagination swiper-pagination-product-page swipe-pagi-style"
						></div>
		</div>
	</product-modal>
</section>


{% javascript %}
		class ProductModal extends ModalDialog {
			constructor() {
				super();
			}

			hide() {
				super.hide();
				window.pauseAllMedia();
			}

			show(opener) {
				super.show(opener);
				//this.showActiveMedia();
				this.constProductPageSwiperCall()
			}
			showActiveMedia() {

				this.querySelectorAll(`[data-media-id]:not([data-media-id="${this.openedBy.getAttribute("data-media-id")}"])`).forEach((element) => {
						element.classList.remove('active');
					}
				)

				const activeMedia = this.querySelector(`[data-media-id="${this.openedBy.getAttribute("data-media-id")}"]`);
				const activeMediaTemplate = activeMedia.querySelector('template');
				const activeMediaContent = activeMediaTemplate ? activeMediaTemplate.content : null;
				activeMedia.classList.add('active');

				activeMedia.scrollIntoView();

				if (
						activeMedia.nodeName == 'DEFERRED-MEDIA' &&
						activeMediaContent &&
						activeMediaContent.querySelector('.js-youtube')
					)
			activeMedia.loadContent();
			}

			constProductPageSwiperCall(showActiveMedia) {
				const activeMedia = this.querySelector(`[data-media-id="${this.openedBy.getAttribute("data-media-id")}"]`);
				let activeMediaIndex = 0
				
				this.querySelectorAll(`.swiper-slide`).forEach((element, index) => {
						if(element == activeMedia){
							activeMediaIndex = index 
						}
					}
				)

				const prodPageSwiper = new Swiper("#product-page-swiper", {
					zoom: true,
					centeredSlides: false,
					slidesPerView: 1,
					autoheight: true,
					watchSlidesVisibility: false,
					watchSlidesProgress: true,
					observer: true,
					observeParents: true,
					init: false,
					navigation: {
						nextEl: ".swiper-button-next-prod-page",
						prevEl: ".swiper-button-prev-prod-page",
					},
					pagination: {
						el: ".swiper-pagination-product-page",
						clickable: true,
					},
					on: {
						click: function (e) {
								if (this.zoom.scale === 1) {
								this.zoom.in();
								} else {
									this.zoom.out();
								}
       			 },
					},
				});

				prodPageSwiper.on('init', function() {
					prodPageSwiper.slideTo(activeMediaIndex, 0, false);
				});
				prodPageSwiper.init()

				document.querySelector('.product-media-modal__toggle').addEventListener("click", function(){ prodPageSwiper.destroy() });
			}
		}

		class ProductRecommendations extends HTMLElement {
			constructor() {
				super();

				const handleIntersection = (entries, observer) => {
					if (!entries[0].isIntersecting) return;
					observer.unobserve(this);

					fetch(this.dataset.url)
						.then(response => response.text())
						.then(text => {
							const html = document.createElement('div');
							html.innerHTML = text;
							const recommendations = html.querySelector('product-recommendations');
							if (recommendations && recommendations.innerHTML.trim().length) {
								this.innerHTML = recommendations.innerHTML;
							}
						})
						.catch(e => {
							console.error(e);
						});
				}

				new IntersectionObserver(handleIntersection.bind(this), {rootMargin: '0px 0px 200px 0px'}).observe(this);
			}
		}

		customElements.define('product-modal', ProductModal);
		customElements.define('product-recommendations', ProductRecommendations);

{% endjavascript %}

{%- if first_3d_model -%}
	<script type="application/json" id="ProductJSON-{{ product.id }}">
	{{ product.media | where: 'media_type', 'model' | json }}
	</script>
	<script src="{{ 'product-model.js' | asset_url }}" defer></script>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.main-product.name",
  "tag": "section",
  "class": "product-section main-product-section",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "text",
      "name": "t:sections.main-product.blocks.text.name",
      "limit": 1,
      "settings": [

      ]
    },
    {
      "type": "variant_picker",
      "name": "t:sections.main-product.blocks.variant_picker.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "picker_type",
          "options": [
            {
              "value": "dropdown",
              "label": "t:sections.main-product.blocks.variant_picker.settings.options__1.label"
            },
            {
              "value": "button",
              "label": "t:sections.main-product.blocks.variant_picker.settings.options__2.label"
            }
          ],
          "default": "button",
          "label": "t:sections.main-product.blocks.variant_picker.settings.options.label"
        }
      ]
    },
    {
      "type": "about",
      "name": "t:sections.main-product.blocks.about.name",
      "limit": 5,
      "settings": [
				{
					"type": "checkbox",
					"id": "default_open",
					"default": false,
					"label": "t:sections.collapsible-content.blocks.default_open.label",
					"info": "t:sections.collapsible-content.blocks.default_open.info"
				},
        {
          "type": "text",
          "id": "about_heading",
          "default": "Some title",
          "label": "t:sections.main-product.blocks.about.settings.heading.label"
        },
        {
          "type": "richtext",
          "id": "about_heading_content",
          "default": "<p>Some description</p>",
          "label": "t:sections.main-product.blocks.about.settings.text.label"
        }
      ]
    },
    {
      "type": "product-description",
      "name": "t:sections.main-product.blocks.product-description.name",
      "limit": 1,
			"settings": [
				{
					"type": "checkbox",
					"id": "default_open",
					"default": false,
					"label": "t:sections.collapsible-content.blocks.default_open.label",
					"info": "t:sections.collapsible-content.blocks.default_open.info"
				}
			]
    },
    {
      "type": "perfect-fit",
      "name": "t:sections.main-product.blocks.perfect-fit.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "about_heading",
          "default": "Perfect Fit",
          "label": "t:sections.main-product.blocks.about.settings.heading.label"
        },
        {
          "type": "richtext",
          "id": "about_heading_content",
          "default": "<p>Some description</p>",
          "label": "t:sections.main-product.blocks.about.settings.text.label"
        },
        {
          "type": "checkbox",
          "id": "show_link_slider",
          "default": false,
          "label": "t:sections.all.product_card.show_link.label"
        }
      ]
    },
    {
      "type": "price",
      "name": "t:sections.main-product.blocks.price.name",
      "limit": 1
    },
    {
      "type": "buy_buttons",
      "name": "t:sections.main-product.blocks.buy_buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_dynamic_checkout",
          "default": true,
          "label": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.label",
          "info": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.info"
        },
				{
				"type": "checkbox",
				"id": "show_gift_card_recipient",
				"default": false,
				"label": "t:sections.main-product.blocks.buy_buttons.settings.show_gift_card_recipient.label",
				"info": "t:sections.main-product.blocks.buy_buttons.settings.show_gift_card_recipient.info"
			}
      ]
    },
    {
      "type": "inventory_status",
      "name": "t:sections.main-product.blocks.inventory_status.name",
      "limit": 1
    },
    {
      "type": "popup",
      "name": "t:sections.main-product.blocks.popup.name",
      "limit": 2,
      "settings": [
        {
          "id": "label",
          "type": "text",
          "default": "Pop-up link text",
          "label": "t:sections.main-product.blocks.popup.settings.link_label.label"
        },
        {
          "id": "heading",
          "type": "text",
          "default": "Popup heading",
          "label": "t:sections.main-product.blocks.popup.settings.heading.label"
        },
        {
          "id": "text",
          "type": "richtext",
          "default": "<p>Some text</p>",
          "label": "t:sections.main-product.blocks.popup.settings.text.label"
        },
				{
					"type": "page",
					"id": "page",
					"label": "t:sections.main-product.blocks.popup.settings.page.label"
				}
      ]
    },
    {
      "type": "tags",
      "name": "t:sections.main-product.blocks.tags.name",
      "limit": 1
    },
		{
			"type": "sku",
			"name": "t:sections.main-product.blocks.sku.name",
			"limit": 1
		},
    {
      "type": "pickup_availability",
      "name": "t:sections.main-product.blocks.pickup_availability.name",
      "limit": 1
    },
    {
      "type": "custom_liquid",
      "name": "t:sections.main-product.blocks.custom_liquid.name",
      "settings": [
        {
          "type": "liquid",
          "id": "custom_liquid",
          "label": "t:sections.main-product.blocks.custom_liquid.settings.custom_liquid.label",
          "info": "t:sections.main-product.blocks.custom_liquid.settings.custom_liquid.info"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "t:sections.main-product.settings.header.content",
      "info": "t:sections.main-product.settings.header.info"
    },
    {
      "type": "select",
      "id": "image_gallery_collage",
      "info": "t:sections.main-product.settings.image_collage.info",
      "options": [
        {
          "value": "stacked",
          "label": "t:sections.main-product.settings.image_collage.options__1.label"
        },
        {
          "value": "thumbnail_carousel",
          "label": "t:sections.main-product.settings.image_collage.options__2.label"
        },
        {
          "value": "thumbnail",
          "label": "t:sections.main-product.settings.image_collage.options__3.label"
        }
      ],
      "default": "thumbnail_carousel",
      "label": "t:sections.main-product.settings.image_collage.label"
    },
    {
      "type": "select",
      "id": "desktop_alignment",
      "options": [
        {
          "value": "right",
          "label": "t:sections.main-product.settings.desktop_alignment.options__1.label"
        },
        {
          "value": "left",
          "label": "t:sections.main-product.settings.desktop_alignment.options__2.label"
        }
      ],
      "default": "right",
      "label": "t:sections.main-product.settings.desktop_alignment.label"
    },
    {
      "type": "select",
      "id": "mobile_alignment",
      "options": [
        {
          "value": "after",
          "label": "t:sections.main-product.settings.mobile_alignment.options__1.label"
        },
        {
          "value": "before",
          "label": "t:sections.main-product.settings.mobile_alignment.options__2.label"
        }
      ],
      "default": "before",
      "label": "t:sections.main-product.settings.mobile_alignment.label"
    },
    {
      "type": "select",
      "id": "image_fit",
      "options": [
        {
          "value": "cover",
          "label": "t:sections.main-product.settings.image_fit.options__1.label"
        },
        {
          "value": "contain",
          "label": "t:sections.main-product.settings.image_fit.options__2.label"
        }
      ],
      "default": "cover",
      "label": "t:sections.main-product.settings.image_fit.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-product.settings.share.settings.header.content"
    },
    {
      "type": "checkbox",
      "id": "show_share_facebook",
      "default": true,
      "label": "t:sections.main-product.settings.share.settings.show_share_facebook.label"
    },
    {
      "type": "checkbox",
      "id": "show_share_twitter",
      "default": true,
      "label": "t:sections.main-product.settings.share.settings.show_share_twitter.label"
    },
    {
      "type": "checkbox",
      "id": "show_share_pinterest",
      "default": true,
      "label": "t:sections.main-product.settings.share.settings.show_share_pinterest.label"
    },
    {
      "type": "checkbox",
      "id": "show_share_copy",
      "default": true,
      "label": "t:sections.main-product.settings.share.settings.show_share_copy.label"
    }
  ]
}
{% endschema %}

