{{ 'product-slideshow.css' | asset_url | stylesheet_tag }}
{{ 'component-badge.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-card-horizontal.css' | asset_url | stylesheet_tag }}
<script
	src="{{ 'product-slideshow.js' | asset_url }}"
	defer="defer"
></script>

{% style %}
	{% render 'spaced-section' %}
	{% render 'spaced-section-inner' %}
{% endstyle %}

{% liquid
	assign slideshow_speed = section.settings.slideshow_speed
	assign autoplay = section.settings.is_autoplay
	assign stop_autoplay = section.settings.is_hover_stop_autoplay
	assign slideshow_delay = section.settings.slideshow_delay
	assign slide_effects = section.settings.slide_effects
%}

<div
	class="js-product-slideshow-slider"
	data-id="shopify-section-{{ section.id }}"
	data-autoplay="{{ autoplay }}"
	data-stop-autoplay="{{ stop_autoplay }}"
	data-speed="{{ slideshow_speed }}"
	data-delay="{{ slideshow_delay }}"
	data-effect="{{ slide_effects }}"
>
	<section
		class="section-container section-container__container section-container--product-slider-v1 js-data--product-slider-v1 {% if section.settings.color_scheme == "theme-dark" %}theme-dark color-background-5{% else %}theme-light{% endif %} section-{{ section.id }}-padding {{ section.settings.slide_effects }}"
	>
		<div class="segment segment__container container">
			<div class="product-slider-v1">
				<div class="product-slider-v1__left">
					<div class="collection-label subtitle segment__subheading">
						{% if section.settings.collection_title_1 != blank %}
							<div class="collection-label__text">
								{{- section.settings.collection_title_1 -}}
							</div>
						{%- endif %}
					</div>
					<div class="product-slider-v1__group">
						<!--  -->
						<div class="product-slider-v1__group-header">
							{% comment %}  {% endcomment %}
							{% if section.settings.heading != blank %}
								<h2 class="product-slider-v1__heading h1 segment__heading">
									{{ section.settings.heading }}
								</h2>
							{%- endif %}
							{% comment %}  {% endcomment %}
						</div>
						<!-- / -->
					</div>
				</div>
				<div
					class="product-slider-v1__right"
				>
					<div class="products-place products-place--v1">
						<div class="products-place-inner">
							<div class="swiper {{ section.settings.image_ratio }} js-product-slider-v1-swiper">
								<div class="swiper-wrapper">
									{%- for product in section.settings.product_list -%}
										<div
											data-type="{{ product.type }}"
											class="
																																																																																																												swiper-slide collection-product-card quickview{%- if settings.quickview_hover -%}--hover{% endif %} {% if section.settings.color_scheme == "theme-dark" %}theme-dark color-background-5{% else %}theme-light{% endif %}
											"
											{% if section.settings.show_link_slideshow %}
												onpointerenter="showTextSlideshow()"
												onpointerleave="hideTextSlideshow()"
											{% endif %}
										>
											{% render 'product-card',
												product_card_product: product,
												media_size: section.settings.image_ratio,
												media_fit: section.settings.image_fit,
												show_secondary_image: section.settings.show_secondary_image,
												show_vendor: section.settings.show_vendor,
												show_desc: section.settings.show_desc,
												show_sku: section.settings.show_sku,
												show_link: section.settings.show_link,
												quickview_show: section.settings.quickview_show,
												section_id: section.id
											%}
										</div>
									{%- else -%}
										{%- for i in (1..4) -%}
											<div class="swiper-slide">
												{% render 'product-card-placeholder',
													media_size: 'portrait'
												%}
											</div>
										{%- endfor -%}
									{%- endfor -%}
								</div>
							</div>
						</div>
					</div>
				</div>
				{% if section.settings.pagination %}
					<div
						class="swiper-pagination-v1 swipe-pagi-style js-swiper-pagination-v1 swiper-pagination"
					></div>
				{% endif %}
				<i
					class="product-slider-v1__overlay segment__overlay"
					style="opacity: {{ section.settings.opacity_overlay }}"
					>&nbsp;</i
				>
				{% if section.settings.show_link_slideshow %}
					<div
						class="button--with-underline--container"
						sectionId="{{ section.id }}"
					>
						<a
							href="{{ product.url | default: '#' }}"
							class="button--with-underline"
							aria-label="{{ "accessibility.product_link" | t }}"
						>
							{{- 'accessibility.product_link' | t -}}
						</a>
					</div>
				{% endif %}
			</div>
		</div>
	</section>
</div>

{% schema %}
{
	"name": "t:sections.product_slideshow.name",
	"class": "product-slideshow-section",
	"tag": "section",
	"enabled_on": {
		"templates": ["*"]
	},
	"settings": [
		{
			"type": "select",
			"id": "color_scheme",
			"options": [
				{
					"value": "theme-dark",
					"label": "t:sections.product_slideshow.settings.color_scheme.options__2.label"
				},
				{
					"value": "theme-light",
					"label": "t:sections.product_slideshow.settings.color_scheme.options__1.label"
				}
			],
			"default": "theme-dark",
			"label": "t:sections.product_slideshow.settings.color_scheme.label"
		},
		{
			"type": "text",
			"id": "collection_title_1",
			"label": "t:sections.product_slideshow.settings.subheading__1.label",
			"default": "COLLECTION NAME"
		},
		{
			"type": "text",
			"id": "heading",
			"label": "t:sections.product_slideshow.settings.heading.label",
			"default": "Heading"
		},
		{
			"type": "product_list",
			"id": "product_list",
			"label": "t:sections.product_slideshow.settings.product_list.label",
			"limit": 7
		},
		{
			"type": "header",
			"content": "t:sections.product_slideshow.settings.header__2.content"
		},
		{
			"type": "select",
			"id": "image_ratio",
			"options": [
				{
					"value": "landscape",
					"label": "t:sections.product_slideshow.settings.image_ratio.options__1.label"
				},
				{
					"value": "portrait",
					"label": "t:sections.product_slideshow.settings.image_ratio.options__2.label"
				},
				{
					"value": "square",
					"label": "t:sections.product_slideshow.settings.image_ratio.options__3.label"
				}
			],
			"default": "portrait",
			"label": "t:sections.product_slideshow.settings.image_ratio.label"
		},
		{
			"type": "select",
			"id": "image_fit",
			"label": "t:sections.product_slideshow.settings.image_fit.label",
			"options": [
				{
					"value": "contain",
					"label": "t:sections.product_slideshow.settings.image_fit.options__1.label"
				},
				{
					"value": "cover",
					"label": "t:sections.product_slideshow.settings.image_fit.options__2.label"
				}
			],
			"default": "cover"
		},
		{
			"type": "checkbox",
			"id": "show_secondary_image",
			"default": false,
			"label": "t:sections.all.product_card.show_secondary_image.label"
		},
		{
			"type": "checkbox",
			"id": "show_vendor",
			"default": false,
			"label": "t:sections.product_slideshow.settings.show_vendor.label"
		},
		{
			"type": "checkbox",
			"id": "show_desc",
			"default": false,
			"label": "t:sections.product_slideshow.settings.show_desc.label"
		},
		{
      "type": "checkbox",
      "id": "show_sku",
      "default": false,
      "label": "t:sections.all.product_card.show_sku.label"
    },
		{
			"type": "checkbox",
			"id": "show_link_slideshow",
			"default": true,
			"label": "t:sections.all.product_card.show_link.label"
		},
		{
			"type": "checkbox",
			"id": "quickview_show",
			"default": false,
			"label": "t:sections.all.product_card.quickview_show.label"
		},
		{
			"type": "header",
			"content": "t:sections.product_slideshow.settings.header__1.content"
		},
		{
			"type": "checkbox",
			"id": "is_autoplay",
			"default": false,
			"label": "t:sections.all.slider_options.slider_is_autoplay.label"
		},
		{
			"type": "checkbox",
			"id": "is_hover_stop_autoplay",
			"default": true,
			"label": "t:sections.all.slider_options.slider_hover_autoplay_stop.label"
		},
		{
			"type": "checkbox",
			"id": "pagination",
			"default": true,
			"label": "t:sections.all.slider_options.pagination.label"
		},
		{
			"type": "range",
			"id": "slideshow_speed",
			"min": 0,
			"max": 6,
			"step": 0.1,
			"default": 1.1,
			"unit": "s",
			"label": "t:sections.product_slideshow.settings.product_slider_speed.label"
		},
		{
			"type": "range",
			"id": "slideshow_delay",
			"min": 0,
			"max": 8,
			"step": 0.1,
			"default": 3,
			"unit": "s",
			"label": "t:sections.product_slideshow.settings.product_slider_delay.label"
		},
		{
			"type": "select",
			"id": "slide_effects",
			"options": [
				{
					"value": "slide",
					"label": "t:sections.all.slider_options.effects.options.options__1.label"
				},
				{
					"value": "fade",
					"label": "t:sections.all.slider_options.effects.options.options__2.label"
				},
				{
					"value": "coverflow",
					"label": "t:sections.all.slider_options.effects.options.options__3.label"
				},
				{
					"value": "creative",
					"label": "t:sections.all.slider_options.effects.options.options__4.label"
				},
				{
					"value": "flip",
					"label": "t:sections.all.slider_options.effects.options.options__5.label"
				}
			],
			"default": "slide",
			"label": "t:sections.all.slider_options.effects.label"
		},
		{
			"type": "header",
			"content": "t:sections.all.section-margin.header.content"
		},
		{
			"type": "range",
			"id": "margin_top",
			"min": 0,
			"max": 200,
			"step": 10,
			"default": 0,
			"unit": "px",
			"label": "t:sections.all.section-margin.margin_top.label"
		},
		{
			"type": "range",
			"id": "margin_bottom",
			"min": 0,
			"max": 200,
			"step": 10,
			"default": 0,
			"unit": "px",
			"label": "t:sections.all.section-margin.margin_bottom.label"
		}
	],
	"presets": [
		{
			"name": "t:sections.product_slideshow.name"
		}
	]
}
{% endschema %}
